<!DOCTYPE html>
<html>
    <head>
        <title>Instagram Scraper</title>
        <!--<link rel="shortcut icon" type="image/png" href="/public/assets/favicon.png">-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/detail.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="vertical-center">
            <div class="container img-container">
                <div style="height: 20px"></div>
                <h6>Hashtag: <%=hashtag%></h6>
                <h6>Number of images: <%=count%></h6>
                <div class="flex">
                    <% nodes.forEach(node => { %>
                        <img id="<%=node.id%>_img" src="<%=node.thumbnail_src%>" class="card mr-auto" onclick="showStats(this.id)">
                        <div class="card stats" id="<%=node.id%>_stats" onclick="showImg(this.id)">
                            <div class="card-body">
                                <%if(node.edge_media_to_caption.edges[0]) { %> 
                                    <div class="card-text">Caption: <%=node.edge_media_to_caption.edges[0].node.text%></div>
                                <% } %>
                                <div class="card-text">Likes: <%=node.edge_liked_by.count%></div>
                                <div class="card-text">Comments: <%=node.edge_media_to_comment.count%></div>                        
                                <div class="card-text">Time: <%=node.taken_at_timestamp%></div>  
                            </div>
                        </div>                                   
                    <% }) %>
                </div>
                <script>
                    function showStats(id) {
                        let img_str = id
                        let stats_str = id.slice(0,id.length-4) + "_stats";
                        document.getElementById(img_str).style.display = "none";
                        document.getElementById(stats_str).style.display = "inline-flex";                        
                    }
                    function showImg(id) {
                        let stats_str = id
                        let img_str = id.slice(0,id.length-6) + "_img";
                        document.getElementById(img_str).style.display = "inline-flex";
                        document.getElementById(stats_str).style.display = "none";                        
                    }
                </script>
            </div>
        </div>
    </body>
</html>